<div class="moalletter ">
    <div class=" modal-content ">
        <div class="modal-body ">
            <div style="text-align: center;">
                <i class="fas fa-exclamation-triangle" style="color: orange; font-size: 400%;"></i>
                <br>
                <br>
                <h5>Esta seguro de eliminar la factura</h5>
                <br>
                <button class="btn btn-danger col-4" style="margin: 5px;" type="button" (click)="DeleteBill()">
                    <span >Eliminar</span> 
                </button>
                <button class="btn btn-warning col-4" type="button" (click)="Close()"> 
                <span >Cancelar</span>
             </button>
            </div>
        </div>
    </div>
</div>

