<!-- <div *ngIf="!loading" class="moalletter ">
    <div class=" modal-content " >
        <app-loading ></app-loading>
        <div class="modal-header ">
            <h5 class="modal-title ">{{Nombremodal}}</h5>
            <button type="button " class="btn-close " (click)="closemodal() " [disabled]="loadingsave"></button>
        </div>
        <form autocomplete="off " [formGroup]="forma " (ngSubmit)="Guardar() ">
            <div class="modal-body ">
                <div>
                    <div class="form-group row ">
                        <label class="col-3 col-form-label ">NumeroIden:</label>
                        <div class="col-8 ">

                            <input class="form-control " type="text " placeholder="Nombre " formControlName="name" [class.is-invalid]="nameNovalido " [readOnly]="loadingsave">
                            <small *ngIf="nameNovalido " class="text-danger ">Ingrese 5 letras</small>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning" (click)="closemodal() " style="margin: 5px;" [disabled]="loadingsave">Cancelar</button>
                <button class="btn btn-success" type="submit" [disabled]="loadingsave"> 
                    <i  [ngClass]="{'fa-save':!loadingsave,'fa-sync fa-spin':loadingsave}"
                    class="fa"></i>
                 <span *ngIf="!loadingsave"> Guardar cambios</span>
                    <span *ngIf="loadingsave"> Espere por favor</span></button>

            </div>
        </form>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>--> 